@using System.Security.Claims
@model IEnumerable<CouponCodes.Models.Coupon>

@{
    ViewData["Title"] = "Index";
}

<h1>Coupons</h1>

<p>
    <a asp-action="Create">Create New Coupon</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeCoupon)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <th>@Html.DisplayNameFor(model => model.Description)</th>
            }
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStackable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeCoupon)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager")) // Only admin and managers can see the description of the coupon
            {
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStackable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsageLimit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
